	body{
		margin: 0;
		padding: 0;
		background-color: #EBF7FA;
	}	
	.corpo{
		width: 1024px;
		margin: 0 auto;
	}
	.topo img{
		height: 89px;
		width: 838px;	
		padding: 10px 0px 10px 0px;	
		display: block;
		margin-left: left;
		margin-right: auto;
	}
	.menu{
		background-color: #FFFFFF;
		height: 40px;
		width: 1024px;
		position: absolute;
		border: 8px solid #003366;
	}
	.conteudo{
		width: 1024px;
		height:500px;
		border: 8px solid #003366;
		margin-top: 40px;
		margin-bottom: 10px;
		background-color: #FFFFFF;
		color: #003366;	
		font-size: 19px;
	}
	.quemsomos{
		width: 800px;
	}
	.rodape{
		background-color: #FFFFFF;
		width: 1024px;
		height: 100px;
		border: 8px solid #003366;
	}
	/* ----------- INICIO MENU ----------- */	
	.ulmenu{
		position: absolute;
		margin-left: 125px;
		margin-top: 0px;
		height: 30px;
	}
	.limenu{
		display: inline;
	}
	
	/* ----------- ESTILO MENU ----------- */
	
	.limenu a{
		text-decoration: none;
		color: #003366;
		font-family: Arial;
		font-size: 14px;
		background-color: #FFFFFF;
		font-weight: bold;
		float: left;
		display: block;
		padding: 13px 20px;
		height: 14px;
		text-align: center;
	}
	.limenu a:hover{
		background-color: #003366;
		color: #FFFFFF;
		height: 14px;
	}
	/* ----------- FIM MENU ----------- */	
	
	
	/* ----------- INICIO RODAPÉ ----------- */
	
	.rodape p{
		font-family: Arial;
		float: left;
		text-align: center;
		color: #003366;
		padding-top: 5px;
	}
	.redesocial{
		margin-left:30px;
		width: 300px;
		font-size: 12px;
		font-weight: bold;
	}
	.horario{
		margin-left: 430px;
		width: 300px;
		font-size: 19px;
		font-weight: bold;
		margin-top: 25px;
	}
	
	/* ----------- FIM RODAPE ----------- */
	
	
	
	